<div>
    <h1>Admission Information</h1>
    <div>
      <form #myform="ngForm" (ngSubmit)="myform.valid && register(myform)" novalidate>
        <div class="row">
          <div class="col-lg-4">
            <div>
              <mat-form-field>
                <input matInput placeholder="Admission No" name="admissionNo" required [(ngModel)]="request.admissionNo" />
                <mat-error>Please enter Admission No</mat-error>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Form No" name="formNo" required [(ngModel)]="request.formNo" />
                    <mat-error>Please enter Form No</mat-error>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
                <mat-form-field>
                    <mat-label>Admission Date</mat-label>
                    <input matInput required [matDatepicker]="admissionDate" name="admissionDate" [(ngModel)]="request.admissionDate">
                    <mat-datepicker-toggle matSuffix [for]="admissionDate"></mat-datepicker-toggle>
                    <mat-datepicker #admissionDate></mat-datepicker>
                    <mat-error>Please enter Admission Date</mat-error>
                </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Comments" name="comments" required [(ngModel)]="request.comments"/>
                <mat-error>Please enter Comments</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
                <mat-form-field>
                    <input matInput placeholder="GR No" name="grNo" required [(ngModel)]="request.grNo" />
                    <mat-error>Please enter GR No</mat-error>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button mat-raised-button style="margin-right: 16px" type="button" (click)="goBack()" color="accent"> Back </button>
            <button mat-raised-button style="margin-right: 16px" color="primary" [disabled]="myform.invalid && myform.submitted" > Save </button>
            <button mat-raised-button style="margin-right: 16px" type="reset" color="warn"> Reset </button>
            <button mat-raised-button style="margin-right: 16px" type="button" (click)="goNext()" color="accent"> Next </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h1>Admission Details</h1>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="AdmissionNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admission No</th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="onEdit(element.admissionId)"> {{element.admissionNo}} </a></td>
    </ng-container>
    <ng-container matColumnDef="AdmissionDate">
        <th mat-header-cell *matHeaderCellDef>Admission Date</th>
        <td mat-cell *matCellDef="let element">{{ element.admissionDate | date:'dd-MMM-yyyy' }}</td>
      </ng-container>
    <ng-container matColumnDef="GRNo">
      <th mat-header-cell *matHeaderCellDef>GR No</th>
      <td mat-cell *matCellDef="let element"> {{ element.grNo }} </td>
    </ng-container>
    <ng-container matColumnDef="FormNo">
      <th mat-header-cell *matHeaderCellDef>Form No</th>
      <td mat-cell *matCellDef="let element">{{ element.formNo }}</td>
    </ng-container>
    <ng-container matColumnDef="Comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons ></mat-paginator>
  